UILayer/UILayer/Web References/localhost/BLayer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ValidateLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="student_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateLoginResult" type="tns:TaskOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TaskOfBoolean">
        <s:complexContent mixed="false">
          <s:extension base="tns:Task" />
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Task" />
      <s:element name="SignUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="first_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="last_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="student_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SignUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SignUpResult" type="tns:TaskOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="completeProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phone_no" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="state" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emergency_contact" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="relationship" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="student_id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="completeProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="completeProfileResult" type="tns:TaskOfBoolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ValidateLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateLogin" />
  </wsdl:message>
  <wsdl:message name="ValidateLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateLoginResponse" />
  </wsdl:message>
  <wsdl:message name="SignUpSoapIn">
    <wsdl:part name="parameters" element="tns:SignUp" />
  </wsdl:message>
  <wsdl:message name="SignUpSoapOut">
    <wsdl:part name="parameters" element="tns:SignUpResponse" />
  </wsdl:message>
  <wsdl:message name="completeProfileSoapIn">
    <wsdl:part name="parameters" element="tns:completeProfile" />
  </wsdl:message>
  <wsdl:message name="completeProfileSoapOut">
    <wsdl:part name="parameters" element="tns:completeProfileResponse" />
  </wsdl:message>
  <wsdl:portType name="BLayerSoap">
    <wsdl:operation name="ValidateLogin">
      <wsdl:input message="tns:ValidateLoginSoapIn" />
      <wsdl:output message="tns:ValidateLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <wsdl:input message="tns:SignUpSoapIn" />
      <wsdl:output message="tns:SignUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="completeProfile">
      <wsdl:input message="tns:completeProfileSoapIn" />
      <wsdl:output message="tns:completeProfileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BLayerSoap" type="tns:BLayerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLogin">
      <soap:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap:operation soapAction="http://tempuri.org/SignUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="completeProfile">
      <soap:operation soapAction="http://tempuri.org/completeProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BLayerSoap12" type="tns:BLayerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ValidateLogin">
      <soap12:operation soapAction="http://tempuri.org/ValidateLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignUp">
      <soap12:operation soapAction="http://tempuri.org/SignUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="completeProfile">
      <soap12:operation soapAction="http://tempuri.org/completeProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BLayer">
    <wsdl:port name="BLayerSoap" binding="tns:BLayerSoap">
      <soap:address location="http://localhost:58923/BLayer.asmx" />
    </wsdl:port>
    <wsdl:port name="BLayerSoap12" binding="tns:BLayerSoap12">
      <soap12:address location="http://localhost:58923/BLayer.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>